body {
  background-image: url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80');
  background-size: fill;
}

.trash {
  display: block;
  position: absolute;
  top: 20%;
  left: 90%;
  height: 2rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  cursor: crosshair;
}

.trashTwo {
  display: block;
  position: absolute;
  top: 20%;
  left: 90%;
  height: 2rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  cursor: crosshair;
}

.trashThree {
  display: block;
  position: absolute;
  top: 20%;
  left: 90%;
  height: 2rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  cursor: crosshair;
}

.score {
}

header {
}

footer {
}

h1 {
  color: antiquewhite;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: antiquewhite;
}

h3 {
  font-family: 'Amatic SC', cursive;
  color: antiquewhite;
  font-size: 20px;
}

h4,
li {
  font-family: 'Amatic SC', cursive;
  color: antiquewhite;
  font-size: 20px;
}
a:link {
  background-color: #3e6e8c;
  color: #8ab0bf;
  border-radius: 20%;
  text-decoration: none;
  height: 2rem;
  width: 4rem;
  padding: 10px;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
}

a:hover {
  background-color: #042940;
  color: #8ab0bf;
}

a:visited {
  color: #ebeff2;
}

button {
  background-color: #3e6e8c;
  color: #8ab0bf;
  border: none;
  border-radius: 20%;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
}

button:hover {
  background-color: #042940;
  color: #8ab0bf;
}

.start {
  margin: auto;
  width: 50%;
  padding: 10px;
  color: antiquewhite;
}
